@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.machine-filter-container{
  height: 200px;
  border: 1px solid gray;
  border-left: 3vw solid rgb(28, 26, 144);
  display: flow;
}

.monitor-machines{
  margin: 5px;
  border: 1px solid gray;
}

.machine-details-container{
  max-height: 550px;
  min-height: 200px;
}
